body{
    margin: 0 auto;
    font-family: sans-serif;    
}


.header-g{
    position: fixed;
    top: 0;
    padding: 1%;
    width: 100%;
    border-bottom: 1px solid hsl(203, 3%, 44%);
    background-color: white;
    z-index: 1;
}

.header-g img{
    margin-left: 3vw;
    width: 5vw;
}

/*Menu lateral*/

.menu-left{
    width: 15vw;
    position: fixed;
    top: 80px;
    left: -70px;
    text-align: center;
/*    border-right: 1px solid hsl(203, 3%, 44%);*/
    box-sizing: border-box;
    font-size: .8em;
}

.menu-left ul{
    list-style: none;
/*    border: 1px solid black;*/
}

.menu-left li{
    display: inline-block;
    float: left;
    width: 100%;
    margin: 10px 0px 10px 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(203, 3%, 44%);    
}

.menu-left li a{
    display: flex;
    text-decoration: none;
    color: darkgray;
    font-size: 1em;
    align-items: center;
    flex-direction: column;
}

.menu-left li a .ico-moon{
    margin-bottom: 5px;
}


.menu-left li a .ico-moon, .ico-letras{
/*    color: red;*/
    margin-right: 50px;
}

.menu-left a:hover{
    color: hsl(203, 100%, 25%);
}


/*ícones menu lateral*/
.menu-left ul li{
    font-size: 14px;
}

.menu-left ul li a .ico-moon{
    font-size: 25px;
/*    color: red;*/
}



/*Área central*/

.main{
    width: 90vw;
    margin-left: 8.5vw;
    margin-top: 6vw;     
    padding: 1.5em;
    height: 1000px;
    font-weight: bold;
    color: hsl(203, 8%, 60%);
    background-color: white;
    box-sizing: border-box;
    /*    borda esquerda */
    border-left: 1px solid hsl(203, 3%, 44%);
    position: relative;
}

.main h2{
    margin: 0;
    font-size: 1.2em;
    display: inline-block;
    float: left;
    padding: 0 1rem .7rem 0;
    
}

.main p{
    margin-bottom: 30px;
    font-size: 0.7em;    
    padding: .3em .5em .7em .7em;
}

.main-header{
    box-shadow: 0 1px .2px -.1px hsl(203, 3%, 44%);
    min-width: 800px;
/*    border-bottom: 1px solid black;*/
}



/*Tabelas*/

.main-table{
    width: 100%;
    min-width: 800px;
    
}

.main-table-shadow{
    box-shadow: 0 0 3px 2px hsl(203, 8%, 60%, .3);
}

.main-table h3{
    padding: 5px 0 0 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main-table h6{
    padding: 5px 0 0 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}


.table-basic{    
    clear: both;
    width: 98%;
    margin: 0 10px 0 10px;
    border-collapse: collapse;
}

.table-basic th{
    text-align: left;
}

.table-basic td, th{
    padding: 1em;
    border-top: 1px solid hsl(203, 15%, 61%);
    
}


/*Icones add e del*/
.icon-add{
    color: #0f981a;
    margin-right: 7px;
    margin-left: 4px;
}

.icon-add:hover{
    cursor: pointer;
}

.icon-del{
    color: rgba(255, 0, 0, 0.81);
}

.icon-del:hover{
    cursor: pointer;
}

/* Avatar tabela 1 */
.avatar{
    border-radius: 50%;
    max-width: 25px;
    box-shadow: 0 0 5px black;
}

/*status tabela 1*/
.status-active{
    background-color: darkgreen;
    text-align: center;
    border-radius: 14px;
    width: 45px;
    font-size: .7em;
    color: white;
    padding: 1.5px;
}

.status-pending{
    background-color: darkblue;
    text-align: center;
    border-radius: 14px;
    width: 55px;
    font-size: .7em;
    color: white;
    padding: 1.5px;
}

.status-not-active{
    background-color: rgb(242, 177, 0);
    text-align: center;
    border-radius: 14px;
    width: 60px;
    font-size: .7em;
    color: black;
    padding: 1.5px;
}

/*  tabela - tab2 */

.table-2{
    border-collapse: separate;
    font-size: .7em;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   }

.table-2 .th-table-2 th{
    border: none;
    width: 150px;
    padding: 10px 0px 10px 7px;
    margin: 0;
    background-color: #cbd3d3;
    color: black;
}

.table-2 td{
    border: none;
    width: 150px;
    padding: 10px 0px 10px 7px;
    margin: 0;
    background-color: #cbd3d3;
    color: black;
}


.table-2 th{
    background-color: #949b97;
    color: black;
    text-align: left;
}

.table-2 th:last-child{
    background-color: dimgrey;
}

/*Esquerda Vertical*/

.table-2 tbody tr > td:first-child{
    background-color: #949b97;
    color: black;
}

/*Direita Vertical*/

.table-2 tbody tr > td:last-child{
    background-color: dimgrey;
    color: black;
}


/*Total horizontal*/
.table-2 tbody tr:last-child > td{
    background-color: dimgrey;
    color: white;
}

/* tabela tab-3 */

.table-3{
    border-collapse: collapse;
    font-size: .7em;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.table-3 th{
    background-color: darkgray;
    color: black;
    border-left: 3px solid white;
}

.table-3 th:first-child{
    width: 50px;
}

.table-3 th:last-child{
    width: 40px;
}

.table-3 td{
    border: 1px solid black;
    padding: 10px 0px 10px 7px;
    margin: 0;
    background-color: #cbd3d3;
    color: black;
}

.table-3 tbody .border-top{
    border-top: 4px solid black;
}

/*Status de pagamento*/

.table-3 .td-pago{
    background-color: green;
    color: white;
}

.table-3 .td-nao-pago{
    background-color: red;
    color: white;
}


/* tabela tab-4 */

.table-4{
    border-collapse: collapse;
    font-size: .7em;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.table-4 th{
    border: none;
    border-left: 3px solid white;
    background-color: darkgray;
    color: black;
    
}

.table-4 td{
    border: 1px solid black;
    width: 150px;
    padding: 10px 0px 10px 7px;
    margin: 0;
    background-color: #cbd3d3;
    color: black;
}

.table-4 tbody .border-top{
    border-top: 4px solid black;
}

/* Formulário - cadastro */

.full-form{
    padding: 10px;
    overflow: hidden;
}
input, label{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3px;
}

label{
    margin-top: 10px;
}

input{
    background-color: #d6d3d3;
    border: 3px solid transparent;
    box-shadow: 0px 0px 3px 1px #7e7c7c;
}

input:focus{
    background-color: darkgray;
    border: 3px solid rebeccapurple;
    outline: none;
}

.col-2{
    width: 48%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 1%;
}

/*  Botão enviar  */
input[type="submit"]{
    width: 70px;
    display: inline-block;
    float: left;
    clear: both;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 3px 10px black;
    transition: all .2s;
}

input[type="submit"]:hover{
    box-shadow: 1px 1px 5px black;
}

/* Edição do checkbox */
input[type="checkbox"]{
    width: 20px;
    margin-top: 40px;
    opacity: 0;
}

label .check-in{
    display: inline-block;
    width: 40px;
    height: 15px;
    background-color: #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

label .check-in:before{
    content: '';
    display: block;
    background-color: white;
    width: 18px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 3px black; 
    margin-top: -3px;
    transition: transform .2s cubic-bezier(.44,-0.68,.69,1.67);
    transition: background .5s;
    cursor: pointer;
}

label input:checked + .check-in:before{
    transform: translateX(20px);
}

label input:checked + .check-in{
    background-color: green;
}

/* Para acessibilidade */
/*
label input:focus + .check-in{
    border: 2px solid rebeccapurple;
}
*/




















