body{
    margin: 0 auto;
    font-family: sans-serif;    
}


.header-g{
    position: fixed;
    top: 0;
    padding: 1%;
    width: 100%;
    border-bottom: 1px solid hsl(203, 100%, 25%);
    background-color: white;
    z-index: 1;
}

.main{
    width: 80%;
    margin-left: 11%;
    margin-top: 7%;
    border-left: 1px solid hsl(203, 100%, 25%);
    padding: 1.5em;
    height: 500px;
    font-weight: bold;
    color: hsl(203, 8%, 60%);   
}

.main h2{
    margin: 0;
    font-size: 1.2em;
    display: inline-block;
    float: left;
    padding: 0 1rem .7rem 0;
    
}

.main p{
    margin: 0;
    font-size: 0.7em;    
    padding: .3em .5em .7em .7em;
}

.dash{
    position: fixed;
    top: 120px;
    left: 0;
    height: 100%;
    width: 20%;
    text-align: center;
    
}

.dash a{
    text-decoration: none;
    color: darkgray;
    display: inline-block;
    float: left;
    clear: both;
    width: 50%;
    margin: 5px 0px 10px 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(203, 100%, 25%);
}

.dash a:hover{
    color: hsl(203, 100%, 25%);
}

.dash span{
    width: 100%;
    font-size: 1.4em;
}


/*Tabelas*/

.main-table{
    width: 100%;
    box-shadow: 0 0 3px 2px hsl(203, 8%, 60%, .3);
}

.main-table h3{
    padding: 5px 0 0 10px;
    margin-bottom: 0px;
}

.main-table h6{
    padding: 5px 0 0 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}


.table-basic{    
    clear: both;
    width: 98%;
    margin: 0 10px 0 10px;
    border-collapse: collapse;
}

.table-basic th{
    text-align: left;
}

.table-basic td, th{
    padding: 1em;
    border-top: 1px solid hsl(203, 15%, 61%);
    
}